$title_font: 'Chakra Petch', sans-serif;

// dimensions
$mobile_width: 800px;
$navBar_height: 85px;
$desktop-width: 1040px;
$footer-height: 100px;
$footer-margin-height: 50px;
$footer-mobile-margin-height: 80px;
