@import '../../variable';

$mobile_width: 800px;

.detailWrapper {
  max-width: $content_max_width;
  width: 100%;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;

  display: flex;

  & > div {
    display: flex;
    flex-direction: column;
  }

  span {
    border-bottom: 1px dashed #393939;
    font-size: 14px;
    height: 44px;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }

  span + span {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .detailWrapperKey {
    font-size: 16px;
    font-weight: bold;
    color: #979797;
    white-space: nowrap;
    border-right: 1px solid #393939;

    span {
      padding-left: 32px;
      padding-right: 65px;
    }
  }

  .detailWrapperValue {
    flex: 1 1 auto;
    overflow: hidden;

    span {
      padding-left: 27px;
      color: #616161;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      a {
        transition: all 0.1s linear;
        color: #616161;

        &:hover {
          color: #979797;
        }
      }
    }

    .memo {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
      height: auto;
      word-wrap: break-word;
    }

    .success {
      color: #389b52;
    }

    .failure {
      color: #c8922e;
    }

    .message {
      padding: 40px 40px;

      .card {
        background-color: #141414;

        .type {
          background-color: #222222;
          padding: 17px 24px;
          color: #b6b6b6;
          font-size: 14px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        .table {
          display: flex;
          font-size: 14px;
          overflow: auto;

          >* {
            line-height: 2.8;
          }

          .keys {
            background-color: #171717;
            min-width: 140px;
            padding: 5px 24px;
            color: #979797;
            font-family: 'Noto Sans KR', sans-serif;
          }

          .values {
            flex: 1;
            padding: 5px 24px;
            color: #616161 ;
            font-family: 'Poppins', 'Noto Sans KR', sans-serif;

            > div {
              display: flex;
              align-items: center;

              a {
                color: #616161;
                transition: all 0.1s linear;

                &:hover {
                  color: #979797;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile_width) {
  .detailWrapper {
    .detailWrapperKey {
      font-size: 13px;
      line-height: 3.2;

      span {
        padding-left: 10px;
        padding-right: 20px;
      }
    }

    .detailWrapperValue {
      span {
        padding-left: 10px;
        line-height: 3.2;
        font-size: 13px;
      }
    }
  }
}

.detailWrapper.mobile {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  display: block;

  .row {
    padding: 12px;
    border-bottom: 1px dashed #393939;
    font-size: 12px;

    .title {
      color: #979797;
      line-height: 1;
    }

    .content {
      color: #616161;
      padding: 0;
      margin-top: 8px;
      word-break: break-all;
      line-height: 1.33;
    }
  }
}
