@import '../../variable';

.detailWrapper {
  max-width: $content-max-width;
  width: 100%;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  margin-bottom: 120px;

  display: flex;

  & > div {
    display: flex;
    flex-direction: column;
  }

  span {
    border-bottom: 1px dashed #393939;
    font-size: var(--font3);
    min-height: 44px;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }

  span + span {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .detailWrapperKey {
    font-size: var(--font2);
    font-weight: bold;
    color: #979797;
    white-space: nowrap;
    border-right: 1px solid #393939;

    span {
      padding-left: 32px;
      padding-right: 65px;
    }
  }

  .detailWrapperValue {
    flex: 1 1 auto;
    overflow: hidden;

    span {
      padding-left: 27px;
      color: #616161;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      a {
        transition: all 0.1s linear;
        color: #616161;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .memo {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
      height: auto;
      word-wrap: break-word;
    }

    .success {
      color: #389b52;
    }

    .failure {
      color: #c8922e;
    }
  }
}

@media (max-width: $mobile-width) {
  .detailWrapper {
    .detailWrapperKey {
      font-size: 13px;
      line-height: 3.2;

      span {
        padding-left: 10px;
        padding-right: 20px;
      }
    }

    .detailWrapperValue {
      span {
        padding-left: 10px;
        line-height: 3.2;
        font-size: 13px;
      }
    }
  }
}

.detailWrapper.mobile {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  display: block;

  .row {
    padding: 12px;
    border-bottom: 1px dashed #393939;
    font-size: var(--font4);

    .title {
      color: #979797;
      line-height: 1;
    }

    .content {
      color: #616161;
      padding: 0;
      margin-top: 8px;
      word-break: break-all;
      line-height: 1.33;
      display: flex;
      align-items: center;

      >*:first-child {
        flex: 1;
      }

      a {
        transition: all 0.1s linear;
        color: #616161;

        &:hover {
          color: #979797;
        }
      }

      .memo {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        height: auto;
        word-wrap: break-word;
      }

      .success {
        color: #389b52;
      }

      .failure {
        color: #c8922e;
      }
    }
  }
}
