.navigation {
  display: flex;

  a > button {
    min-width: 30px;
    height: 40px;
    font-size: 14px;
    border: none;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
    cursor: pointer;
    user-select: none;
    color: #616161;
    transition: all 0.1s linear;

    &:hover {
      color: #979797;
    }

    &.active {
      color: #ffffff;
    }
  }
}
