@import '../variable';

.logoLabel {
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: $mobile-width) {
  .layout {
    padding-top: $mobile-header-height;
    min-height: $page-mobile-height;

    .layoutInner {
      .content {
        width: 100%;
        max-width: initial;
        padding: 0 20px;

        .listTitle {
          display: block;
          margin-top: 36px;
          margin-bottom: 20px;
          text-align: center;

          > .pageInfo {
            display: block;
            margin: 0;
            text-align: center;
            flex: initial;
          }

          > .navigation {
            justify-content: center;

            .Dropdown-root {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .homeSearchBar {
    display: none !important;
  }
}

@media (max-width: $desktop-width) {
  .homeLive {
    display: flex;
    flex-direction: column;

    .verticalLine {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  // home
  .homeContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .top {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      background-color: #000;

      .logoBg {
        display: none;
      }

      .content {
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0;
        padding: 19px 5px 19px 0;

        .title {
          display: none;
        }

        .notice {
          max-width: initial;
          font-size: var(--font4);
          color: #616161;
          display: flex;
          transition: all 0.1s linear;
          cursor: pointer;
          margin: 0 auto;
          justify-content: flex-start;

          img {
            padding: 0 24px;
          }

          span {
            flex: 1;
            text-align: left;
            margin-left: -16px;
          }

          &:hover {
            color: white;
          }
        }
      }
    }

    > .content {
      width: 100%;
      max-width: $content-max-width;
      z-index: 2;
      padding: 0 !important;
      margin-bottom: 80px;

      > .chartWrapper {
        width: 100%;
        margin-top: 0;
        display: block;

        .tab {
          display: flex;

          > * {
            flex: 1;
            background-color: #1e1e1e;
            color: #616161;
            font-size: var(--font3);
            padding: 13px;
            text-align: center;
            transition: all 0.1s linear;

            &.selected {
              color: #b6b6b6;
              background-color: #111111;
            }
          }
        }

        .card {
          height: 240px;
          max-height: 240px;
          padding: 40px;
          background: #111111;
          margin: 0;
          border-radius: 0;

          &:hover {
            background-color: #1e1e1e;

            > .name {
              color: #b6b6b6;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          .name {
            font-size: var(--font2);
            color: #808080;
            margin-bottom: 20px;
          }

          .chart {
            width: 100%;
            height: 100%;

            canvas {
              width: 100%;
            }
          }
        }
      }

      > .homeLive {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #b6b6b6;

        .liveInfoWrapperInfo {
          padding-left: 16px;
          padding-right: 16px;
        }

        .contentWrapper {
          padding-left: 4px;
          padding-right: 12px;
        }


        .divider {
          min-width: 40px;
          flex: 1;
          position: relative;
          padding-top: 54px;

          &::after {
            content: ' ';
            position: absolute;
            width: 1px;
            height: calc(100% - 54px);
            left: calc(50% - 1px);
            background-color: #222222;
          }
        }
      }
    }

    .banner {
      width: 100%;

      &.wallet {
        width: 100%;
        height: 80px;
        min-width: initial;
        background-color: #0d0d0d;
        display: flex;
        align-items: center;
        position: relative;

        > img {
          position: absolute;
          height: 100%;
          top: 0;

          &:first-child{
            left: 0;
          }

          &:last-child {
            right: -70px;
          }
        }

        > div {
          text-align: center;
          z-index: 99;

          >div:first-child {
            margin-bottom: 10px !important;
          }
        }

        span {
          font-family: 'Noto Sans KR', sans-serif;
          margin-bottom: -4px;

          span {
            line-height: 2;
            opacity: 0.6;
          }
        }

        .download {
          display: none;
        }

      }
    }
  }

  .search {
    height: $page-mobile-height;

    > .content {
      top: $mobile-header-height;

      > div {
        > button {
          margin-top: 148px;

          &:hover {
            color: initial;
          }

          &:active {
            color: white;
          }
        }
      }
    }
  }
}
