@import '../../variable';

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: $footer-height;
  margin-top: $footer-margin-height;
  min-width: $desktop-width;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  .footerContent {
    max-width: calc(#{$content-max-width} + 40px);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;

    .footerLogo {
      cursor: pointer;
      user-select: none;

      img {
        width: 140px;
        opacity: 0.4;
      }
    }

    & > div {
      display: flex;
      align-items: center;
    }


    .footerRights {
      flex: 1;
      margin-left: 36px;
      font-size: var(--font3);
      font-weight: 300;
      color: #373737;
      margin-right: 15px;

      p {
        margin: 0;
      }
    }

    .footerLang {
      color: #393939;
      font-size: var(--font2);
      margin: 0 5%;
      justify-content: flex-end;
      user-select: none;

      > div {
        padding: 0 8px;
        cursor: pointer;
        transition: all 0.1s linear;

        &:hover, &.on {
          color: #b6b6b6
        }

        &:first-child {
          color: #414141;
          padding-right: 16px;
          border-right: 1px solid #222222;
          margin-right: 8px;
          cursor: default;
        }
      }
    }


    .footerSNS {
      user-select: none;
      align-items: center;

      a {
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
      }

      @media (max-width: 400px) {
        a:nth-child(4) {
          display: none;
        }
        a:nth-child(5) {
          display: none;
        }
      }
    }

    .footerPrivacyPolicy {
      padding-left: 20px;
      border-left: 1px solid #d8d8d8;
      font-size: var(--font3);
      letter-spacing: -0.6px;

      a {
        color: #3c3e41;
      }
    }
  }

  .privacyPolicy {
    display: none;
  }
}

.footer.mobile {
  overflow: hidden;
  flex-direction: column;
  height: $footer-mobile-height;
  margin-top: $footer-mobile-margin-height;

  .footerContent {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .footerLogo {
      > img {
        width: 100px;
      }
    }
    .footerRights {
      font-size: var(--font4);
    }

    .footerLang {
      display: none;
    }

    .footerSNS {
      display: none;
    }
  }

  .privacyPolicy {
    font-size: var(--font3);
    letter-spacing: -0.6px;
    height: 38px;
    width: 100%;
    text-align: end;
    padding-right: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      color: #3c3e41;
    }
  }
}
