@import '../../variable';

$tablet-width: 800px;

.liveInfoWrapper {
  width: 100%;
  max-width: 487px;

  @media (max-width: $desktop-width) {
    max-width: initial;
  }

  display: flex;
  flex-direction: column;

  .liveInfoWrapperInfo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 13px 0;

    span {
      flex: 1;
    }

    & a {
      text-decoration: none;

      display: flex;
      align-items: flex-end;
    }

    & button {
      border: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      color: #0b0b0b;

      &:hover {
        cursor: pointer;
        color: #397ff4;
      }
    }
  }

  .liveInfoWrapperContentBox {
    width: 100%;
  }
}

//@media (min-width: $tablet-width) {
//  .liveInfoWrapper {
//    width: 0;
//  }
//}

//.liveInfoWrapper.mobile {
//  padding: 20px 10px 10px;
//
//
//}

.liveInfoWrapperContentBox {
  //background-color: white;
  border-top: 2px solid #616161;
}
