@import '../../variable';

.pageInfo {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  font-family: $title_font;
  color: #d8d8d8;
  margin-top: 120px;
  margin-bottom: 26px;
  text-transform: uppercase;


  display: flex;
  align-items: center;

  .back {
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 17px;
    box-sizing: content-box;
    padding: 0 10px;
    background-image: url("/image/icon/back.svg");
    background-repeat: no-repeat;
  }

  img {
    width: 30px;
    height: 32px;
    margin-right: 20px;
  }
}

.pageInfo.mobile {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 40px;
  text-align: center;
  position: relative;

  img {
    width: 20px;
    height: 21px;
    margin-right: 10px;
  }
}
