@import '../../variable';

.pageInfo {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 600;
  font-family: $title_font;
  color: #d8d8d8;
  margin-top: 120px;
  margin-bottom: 26px;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 32px;
    margin-right: 20px;
  }
}

.pageInfo.mobile {
  font-size: 18px;
  margin-bottom: 10px;

  img {
    width: 20px;
    height: 21px;
    margin-right: 10px;
  }
}
