@import '../../variable.scss';

.listWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;

  & > div {
    width: 100%;
  }

  .center {
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .right {
    text-align: right;
  }

  .listWrapperTitles {
    // padding-left: 15px;
    height: 38px;
    border-top: 1px solid #616161;
    border-bottom: 1px solid #616161;

    display: flex;
    align-items: center;

    span {
      font-size: var(--font3);
      font-weight: 500;
      color: #979797;
      padding-left: 20px;
      text-align: center;
    }
  }

  .listWrapperContentRow {
    // padding-left: 15px;
    width: 100%;
    height: 43px;

    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    border-bottom: 1px dashed #393939;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #171718;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      text-decoration: underline;
      color: white !important;

      >* {
        color: white;
      }
    }

    * {
      // padding-right: 20px;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: var(--font3);
      font-weight: normal;
      color: #616161;
      margin: auto;
      padding-left: 20px;
      padding-right: 8px;
      transition: all 0.1s linear;
    }

    a {
      //color: #2f599f;
    }
  }

  .special {
    background-color: rgba(214, 205, 99, 0.05);

    span:first-child {
      font-weight: bold;
      color: #ff9f00;
    }
  }
}

@media (max-width: $mobile-width) {
  .listWrapper {

    listWrapperTitles {
      span {
        font-size: var(--font4);
      }
    }
  }
}
