@import '../../variable';

$navBar-side-width: 100%;
$navBar-border-bottom: 1px;

@media (max-width: $mobile-width) {
  .navBar {
    .navBarContainer {
      max-width: initial;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.navBar {
  width: 100%;
  height: $navbar-height;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  position: fixed;
  z-index: 10;


  &.home {
    border-bottom: none;

    .language {
      & > button {
        color: #808080;

        &:hover {
          color: white;
        }
      }

      & > img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .navBarContainer {
    max-width: $desktop-width;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .navNavigator {
      flex: 1 1 auto;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div > a {
        color: #808080;
        font-size: var(--font2);

        &:hover {
          color: white;
        }
      }

      > div {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .dimmer {
      position: absolute;
      z-index: 999;
      top: $navbar-height;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .searchBarOpen {
      display: flex;
    }

    .searchBarClose {
      display: none;
    }

  }
}

.navBarLogo {
  display: flex;
  align-items: center;

  img {
    width: 173px;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: auto;
  }
}


.fullWidth {
  width: 100%;
  max-width: 400px;

  &.home {
    border: none;
  }
}

.navBar.mobile {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  height: $mobile-header-height;
  flex-direction: column;
  justify-content: flex-start;

  .navBarContainer {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 18px 0;
    height: $mobile-navbar-height;
    justify-content: flex-start;
    z-index: 100;

    .sidebar {
      width: 100%;
      height: calc(100% - #{$mobile_navbar-height});
      top: $mobile_navbar-height;
      right: -100%;
      position: fixed;
      z-index: 10;
      transition: all 0.3s ease-out;
      overflow: auto;

      &.opened {
        right: 0;
      }

      .navBarSide {
        width: 100%;
        min-height: 100%;
        top: $mobile-navbar-height;
        background-color: #1e1e1e;
        box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.2);


        display: flex;
        flex-direction: column;
        padding: 0 32px;
        font-size: 14px;

        .navBarSideMenu {
          display: block;
          width: 100%;
          padding: 16px;
          margin-top: 20px;
          line-height: 1;
          border-bottom: solid 1px #616161;
          font-family: 'Chakra Petch', serif;
          color: #616161;
          text-align: center;
        }

        .navBarSideNavList {
          text-align: center;
          font-family: 'Noto Sans KR', sans-serif;

          > div {
            border-bottom: 1px solid #111111;

            &:last-child {
              border-bottom: none;
            }

            a {
              padding: 16px;
              display: block;
              width: 100%;
              color: #808080;
              font-size: 14px;
              transition: all 0.1s linear;

              &:active {
                color: #ffffff;
                background-color: #1b1b1b;

              }
            }
          }
        }
        .relatedLinks {
          text-align: center;
          padding: 30px 34px;

          a {
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }
          }

          img {
            width: 38px;
            height: 38px;
          }
        }
      }
    }

    .searchBtn {
      padding-right: 0;
      border: none;
    }


    .navBarOpener {
      border: none;
      background: none;
      min-width: 44px;
      box-sizing: content-box;
      padding: 0 16px;

      .opener {
        max-width: 20px;
        height: 12px;
        position: relative;
        margin: auto;

        > span {
          position: absolute;
          border-bottom: 2px solid #787878;
          width: 100%;
          right: 0;
          transition: all 0.2s ease;

          &:first-child {
            top: 0;
            right: 0;
          }

          &:last-child {
            top: 10px;
            right: 0;
          }
        }

        &.opened {
          > span {
            &:first-child {
              top: 5px;
              transform: rotate(45deg);
            }

            &:last-child {
              top: 5px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .navBarLogo {
      height: 24px;
      margin-left: 16px;
      margin-right: auto;

      a {
        width: 104px;
        height: 24px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .dimmer {
      top: $mobile-navbar-height;
    }

  }

  .home {
    border-bottom: none;
  }

}
